DATABASE_URL=postgresql://postgres:postgres@localhost:5432/madabase
NEXT_PUBLIC_SITE_URL=https://madabase.com
AUTH_EMAIL_PROVIDER=resend
AUTH_EMAIL_FROM=Madabase <noreply@madabase.com>
RESEND_API_KEY=re_W2mrxq3A_DaMtEZGDd3JtsxkzteFEKhh4